﻿@{
    ViewBag.Title = "Apie";
}

<h4>Apie projektą</h4>
<p>Vytauto Didžiojo universitetas ir jo partneris Kauno technologijos universitetas vykdo projektą „Lietuvių kalbos sintaksinės-semantinės analizės sistema tekstynui, lietuviškam internetui ir viešojo sektoriaus taikymams“ (VP2-3.1-IVPK-12-K-01-007). Projektas plėtojamas nuo 2012 metų. Projektą finansuoja Europos sąjungos (ES) struktūriniai fondai ir Lietuvos Respublikos biudžetas. </p>
<p>Projekto tikslas - sudaryti geresnes sąlygas asmenims ir organizacijoms vartoti lietuvių rašytinę kalbą elektroninėje erdvėje savo profesinėje ir asmeninėje veikloje, kaupti ir saugoti lietuvių rašytinės kalbos ir kultūros išteklius bei pasinaudoti naujausiais interneto IT sprendimais, tam sukuriant interaktyvias elektronines lietuvių rašytinės kalbos ir semantikos paslaugas ir išteklius bei juos saugančią informacinę sistemą.</p>
<p>Vykstant projektui planuojama sukurti Lietuvių kalbos sintaksinės ir semantinės analizės informacinę sistemą (LKSSAIS), kuri leis integruotis į europinę šios srities mokslinių tyrimų erdvę ir sukurti mokslinę bazę tolesniems kompiuterinės lingvistikos bei semantikos tyrimams. </p>
<p>Lietuvių kalbos sintaksinės ir semantinės analizės informacinė sistema naudinga asmenims ir organizacijoms, kurie vartoja rašytinę lietuvių kalbą elektroninėje erdvėje, taip pat taikomųjų kompiuterinių sprendimų ir elektroninių paslaugų, kuriuose naudojamasi sintaksinės-semantinės rašytinės lietuvių kalbos analize, kūrėjams. Sistema bus naudinga lietuvių kalbos ir semantikos mokslininkams ir tyrėjams, lietuvių kalbos lingvistinių ir semantinių išteklių kūrėjams, kurie galės įtraukti LKSSAIS paslaugas į savo informacines sistemas arba naudoti jas naujoms paslaugoms kurti. </p>
<p>Kuriamos lietuvių kalbos sintaksinės ir semantinės analizės informacinės sistemos (LKSSAIS) paskirtis – užtikrinti lietuvių rašytinės kalbos sintaksinės ir semantinės analizės paslaugų teikimą, kaupti bei tvarkyti lietuvių kalbos lingvistinius ir semantinius išteklius.</p>
<p>Vykdant projektą  yra kuriama daug web servisų, kuriuos atskirai nuo kitų sistemų galima išbandyti šioje aplinkoje. Šiuo metu išbandyti galima:</p>
<p><a href="@Url.Action("Index", "Home")">Gramatikos tikrinimo įrankį</a></p>
<p><a href="@Url.Action("Spell", "Home")">Rašybos tikrinimo įrankį</a></p>