﻿@{
    ViewBag.Title = "Gramatikos tikrinimas";
}

    <h4>Lietuvių kalbos gramatikos klaidų tikrinimo įrankio paskirtis</h4>
    <br>
    <p>Lietuvių kalbos gramatikos klaidų tikrinimo įrankis nustato gramatiškai neteisingus sakinius arba jų dėmenis, pateikia klaidų išaiškinimą ir siūlo taisymo alternatyvą – komponentas leidžia nustatyti ne mažiau 100 skirtingo tipo gramatinių klaidų, įskaitant, bet neapribojant šiomis: skyrybos klaidos, didžiųjų raidžių rašymo klaidos (sakinio pradžioje, institucijų ir geografiniuose pavadinimuose), stiliaus, sintaksės klaidos, svetimybės, žargonas ir neteiktini žodžiai.</p>
    <br>

<div class="row">
    <div class="col-lg-12">
        @using(@Ajax.BeginForm("UseGrammarCheckerService", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessAjax", OnFailure = "OnFailureAjax" }))
        {
            @Html.Label("textLabel", "Įveskite tekstą: ", new { style = "margin-left: 5px" }) <br/>
            <br>
            @Html.TextArea("text", null, new { style = "margin-left: 5px" }) <br/>
            <input class="btn btn-primary" name="Patvirtinti" type="submit" value="Patvirtinti" style="margin-top: 5px; margin-left: 5px"/>
        }
    </div>
</div>
<div class="row result" style="margin-left: 5px; margin-top: 10px;">
    
</div>

<script type="text/javascript">
    function OnSuccessAjax(data) {
        $(".result").html(data.Html);
    }
</script>

<h4> Programuotojo vadovas </h4>
<br>
<b>Į gramatikos tikrinimo web servisą užklausa siunčiama šiomis eilutėmis: </b>
<div class="alert alert-dismissible alert-info">
    <p> var client = new RestClient("http://vienuolis.vdu.lt:8084/grammar");</p>
    <p> var request = new RestRequest(Method.POST) { RequestFormat = DataFormat.Json };</p>
</div>
<p>Įėjimo duomenys – JSON failas. Šiam web servisui reikia pateikti vartotojo įvestą tekstą. </p>
<b>Pavyzdys:</b>
<div class="alert alert-dismissible alert-info">
    <p>{ body = "Jonas kątik buvo pas čigonus bet neilgam." }</p>
</div>
<p>Rezultatų failo duomenų tipas – JSON formatas.</p>
<p>"ref" – nuo kurios teksto vietos prasideda klaida ir kiek simbolių tęsiasi.</p>
<p>"error_type" – klaidos tipas, paaiškinimas, kodėl tai yra klaida.</p>
<p>"error_id" – klaidos ID.</p>
<p>"suggestions" – pasiūlymai, kaip galima ištaisyti rastą klaidą.</p>
<b>Pavyzdys:</b>
<div class="alert alert-dismissible alert-info">
    <p>{"grammar_errors":[{</p>
    <p>"ref":[6,5],</p>
    <p>"error_type":"Atskirai rašomos vieno žodžio reikšmę turinčios samplaikos, sudarytos iš netrumpėjančių įvardžių, prieveiksmių ar dalelyčių",</p>
    <p>"error_id":"splitting_non_abbreviating_forms",</p>
    <p>"suggestions":["ką tik"]},{</p>
    <p>"ref":[21,11],"error_type":"Kablelis prieš bet",</p>
    <p>"error_id":"kablelis_pries_bet",</p>
    <p>"suggestions":["čigonus, bet"]</p>
    <p>}]}</p>
</div>


    @*<div class="row">*@
    @*    <div class="col-lg-12 text-center">*@
    @*        <h1>A Bootstrap Starter Template</h1>*@
    @*        <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>*@
    @*        <ul class="list-unstyled">*@
    @*            <li>Bootstrap v3.3.0</li>*@
    @*            <li>jQuery v1.11.1</li>*@
    @*        </ul>*@
    @*    </div>*@
    @*</div>*@
