﻿@{
    ViewBag.Title = "Rašybos tikrinimas";
}

<h4>Lietuvių kalbos rašybos tikrinimo įrankio paskirtis</h4>
<br>
<p>Lietuvių kalbos rašybos tikrinimo įrankis patikrina lietuvių kalbos rašybą. Įrankis analizuojamame tekste nustato žodžių rašybos klaidas ir jas pažymi (nurodo klaidingos frazės poziciją ir ilgį), pateikia klaidos informaciją apie jos rūšį, klaidos apibūdinimą, pateikia klaidos taisymo paaiškinimą arba taisymo variantus. Įrankis nustato kiekvieno analizuojamo teksto lietuvių kalbos žodžio ar samplaikos morfologinę informaciją. </p>
<br>

<div class="row">
    <div class="col-lg-12">
        @using (@Ajax.BeginForm("UseSpellCheckerService", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessAjax", OnFailure = "OnFailureAjax" }))
        {
            @Html.Label("textLabel", "Įveskite tekstą: ", new { style = "margin-left: 5px" }) <br />
            @Html.TextArea("text", null, new { style = "margin-left: 5px;" }) <br />
            <input class="btn btn-primary" name="Patvirtinti" type="submit" value="Patvirtinti" style="margin-top: 5px; margin-left: 5px" />
        }
    </div>
</div>
<div class="row result" style="margin-left: 5px; margin-top: 10px;">

</div>

<script type="text/javascript">
    function OnSuccessAjax(data) {
        $(".result").html(data.Html);
    }
</script>


<h4> Programuotojo vadovas </h4>
<br>
<b>Web serviso iškvietimas</b>
<p>Žodžių rašybai tikrinti reikia kreiptis į du web servisus: lietuvių kalbos teksto skaidymo web servisą ir rašybos tikrinimo web servisą. Į lietuvių kalbos teksto skaidymo web servisą užklausa siunčiama šiomis eilutėmis: </p>
<div class="alert alert-dismissible alert-info">
 <p>var lexClient = new RestClient("http://nagys.vdu.lt:7000/lex");</p>
 <p>var lexRequest = new RestRequest(Method.POST) { RequestFormat = DataFormat.Json };</p>
</div>
<p>Įėjimo duomenys siunčiami „text/plain“ formatu.</p>
<b>Pavyzdys:</b>
<div class="alert alert-dismissible alert-info">
    <p>"Zmogus skaiciuoja. Vaikasmokosi."</p>
</div>
<p>Rezultatų failo duomenų tipas - JSON formatas.</p>
<p>"seg" – segmentavimas į žodžius: startinė pozicija ir simbolių skaičius.</p>
<p>"s" – segmentavimas į sakinius.</p>
<p>"p" – apibrėžia visą tekstą.</p>
<b>Pavyzdys:</b>
<div class="alert alert-dismissible alert-info">
    <p>"{"seg":[[0,6],[7,10],[17,1],[19,12],[31,1]],"s":[[0,18],[19,13]],"p":[[0,32]]}"</p>
</div>


<p>Į žodžių rašybos tikrinimo web servisą užklausa siunčiama šiomis eilutėmis: </p>
<div class="alert alert-dismissible alert-info">
    <p>var spellingServiceClient = new RestClient("http://vienuolis.vdu.lt:8081/spelling");</p>
    <p>var spellingServiceRequest = new RestRequest(Method.POST) { RequestFormat = DataFormat.Json };</p>
</div>
<p>Įėjimo duomenys – JSON failas. Šiam web servisui reikia pateikti vartotojo įvestą tekstą ir lietuvių kalbos teksto skaidymo web serviso rezultatą. JSON failo struktūra:</p>
<b>Pavyzdys:</b>
<div class="alert alert-dismissible alert-info">
    <p>{ body = "Zmogus skaiciuoja. Vaikasmokosi. ", annotations = { lex = "{"seg":[[0,6],[7,10],[17,1],[19,12],[31,1]], "s":[[0,18],[19,13]],"p":[[0,32]]}"} }</p>
</div>
<p>Rezultatų failo duomenų tipas - JSON formatas.</p>
<p>"error_type" – klaidos tipas.</p>
<p>"ref" – kurioje vietoje yra klaida.</p>
<p>"suggestions" – pasiūlymai, kaip galima ištaisyti rastą klaidą.</p>
<b>Pavyzdys:</b>
<div class="alert alert-dismissible alert-info">
    <p>{ "misspellings" : [{ "error_type" : "Neteisingas žodis", "ref" : [ 0, 1 ], "suggestions" : [ "Žmogus" ] },{ "error_type" : "Neteisingas žodis", "ref" : [ 3, 1 ], "suggestions" : [ "Vaikas mokosi", "Vaikas-mokosi", "Taikomosios" ] } ] }</p>
</div>