﻿@model Core.Models.GrammarError

<div class="col-lg-12">
    @Html.Label("textLabel", "Tekstas", new { style = "margin-left: 5px" })
    <p>@Html.Raw(Model.Output)</p><br />
    @Html.Label("textLabel", "Klaidos tipas", new {style = "margin-left: 5px"})
    <p>@Model.ErrorType</p><br/>
    @Html.Label("textLabel", "Pasiūlymai", new {style = "margin-left: 5px"})
    <p>@foreach (var suggestion in @Model.Suggestions)
       {
           {
               @Html.FormatValue("{0}", suggestion)
               @Html.FormatValue("{0}", " ")
           }
       }
    </p><br/>
</div>